/* ========================================================================== *\
   Base
\* ========================================================================== */

*, *:after, *:before {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
  overflow-y: scroll; // Force vertical scrollbar to avoid jumping if navigating from short to long page and vice versa
}

body {
  background-color: $color-primary;
  color: $color-base;
  font-family: $font-base;
  font-size: $fontsize-base;
  line-height: $lineheight-base;
  min-width: 320px;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
  max-width: $maxwidth-container;
}

//
// Typograpy
// --------------------------------------------------------------------------

p {
  padding-bottom: $padding-base;
  margin: 0;
}

//
// Headings
// --------------------------------------------------------------------------

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: $color-red;
  font-family: $font-titles;
  line-height: $lineheight-titles;
  font-weight: bold;
  margin: 0;
  padding-bottom: $padding-base;
}

h1, .h1 {
  font-size: $fontsize-h1;
}

h2, .h2 {
  font-size: $fontsize-h2;
}

h3, .h3 {
  font-size: $fontsize-h3;
}

h4, .h4 {
  font-size: $fontsize-h4;
}

h5, .h5 {
  font-size: $fontsize-h5;
}

h6, .h6 {
  font-size: $fontsize-h6;
}

//
// Links
// --------------------------------------------------------------------------

a {
  color: $color-red;
  transition: color 0.25s ease;
  transition-property: color, background-color, border-color;

  &:hover, &:focus {
    color: $color-red-light;
  }

  &:active {
    color: $color-red-dark;
  }
}

.btn {
  font-family: $font-buttons;
  border: solid 2px;
  line-height: 24px;
  padding: 11px 34px;
  display: inline-block;
}

.btn--default {
  background-color: transparent;
  border-color: $color-grey;
  color: $color-grey;

  &:hover, &:focus {
    border-color: $color-grey-light;
    color: $color-grey-light;
  }

  &:active {
    background-color: $color-grey-dark;
    border-color: $color-grey-dark;
    color: #fff;
  }
}

.btn--grey {
  background-color: $color-grey;
  border-color: $color-grey;
  color: #fff;

  &:hover, &:focus {
    background-color: $color-grey-light;
    border-color: $color-grey-light;
  }

  &:active {
    background-color: $color-grey-dark;
    border-color: $color-grey-dark;
  }
}

.btn--red {
  background-color: $color-red;
  border-color: $color-red;
  color: #fff;

  &:hover, &:focus {
    background-color: $color-red-light;
    border-color: $color-red-light;
  }

  &:active {
    background-color: $color-red-dark;
    border-color: $color-red-dark;
  }
}

.btn--more {
  position: relative;

  &:after {
    content: '>';
    display: inline-block;
    margin-left: 10px;
    transition: all 0.35s ease;
  }

  &:hover, &:focus {
    &:after {
      transform: translateX(5px);
    }
  }
}

//
// Lists
// --------------------------------------------------------------------------

input[type='tel'], input[type='password'], input[type='email'], input[type='text'], select, textarea {
  background-color: transparent;
  color: #929292;
  border: solid 2px $color-white;
  font-size: 20px;
  font-family: $font-buttons;
  font-weight: 300;
  line-height: 24px;
  padding: 11px 16px;
  display: inline-block;

  &:focus {
    border-color: $color-grey;
  }

  &.success, .success & {
    border-color: $color-green;
  }

  &.error, .error & {
    border-color: $color-red;
  }
}

input, select, textarea {
  &:focus, &:active {
    outline: none;
    box-shadow: none;
  }
}

input[type="submmit"] {
  white-space: normal;
}

textarea {
  max-width: 100%;
}

//
// Warnings
// --------------------------------------------------------------------------

.warning {
  font-family: $font-buttons;
  font-weight: 300;
  color: #fff;
  line-height: 20px;
  border-radius: 2px;
  position: relative;
  padding: 55px 15px 0;

  &:after {
    content: 'i';
    position: absolute;
      top: 50%;
      left: 16px;
    width: 23px;
    height: 23px;
  }
}

.warning--success {
  background-color: $color-green;
}

.warning--error {
  background-color: $color-red;
}

//
// Lists
// --------------------------------------------------------------------------

ul, ol {
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

//
// Image
// --------------------------------------------------------------------------

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

//
// (Responsive sticky Footer)
// --------------------------------------------------------------------------

body {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.wrap {
  display: table-row;
  height: 100%;
}

.footer {
  display: table-row;
  height: 1px;
}