/* ========================================================================== *\
   Header
\* ========================================================================== */

.header {
  background: rgba(#323232, 0.5);
  height: 85px;
}

.header__logo {
  float: right;
  margin-top: 10px;
  margin-right: 16px;
}

.logo__img {
  width: 217px;
  height: 53px;
}