/* ========================================================================== *\
   Homepage
\* ========================================================================== */

.page__block, .page__block--featured {
  width: (100% / 3);
}

.page__block--featured {
  float: right;
  margin-top: 20px;
}