.menu-toggler-wrapper, .menu--main-mobile {
  display: none !important;
}

.menu--main-desktop {
  display: block;
}

.menu__list--main {
  list-style: none;
  padding-top: 30px;
}

.menu__item--main {
  display: inline-block;
  padding: 0 20px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.menu__link--main {
  color: #fff;
  text-decoration: none;
  font-family: $font-titles;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  position: relative;

  &:hover, &:focus {
    color: $color-red-light;
  }

  &.menu--active {
    color: $color-red;
  }
}