/* ========================================================================== *\
   Footer
\* ========================================================================== */

.footer__text, .footer__form {
  float: left;
  width: 50%;
}

.footer__text {
  padding-right: 20px;
  margin-bottom: 0;
  margin-top: -5px;
}

.footer__form {
  padding-left: 20px;
}

.footer__inner {
  padding: 40px 0;
  overflow: hidden;
}

.footer__image {
  padding-top: 15px;
}

.footer__title-wrapper {
  margin-top: -40px;
}