/* ========================================================================== *\
   Menu
\* ========================================================================== */

.menu--main {
  display: none;
}

// Menu toggler
.menu__toggler {
  float: right;
  margin: 25px 0;
}

.toggler__link {
  display: block;
  height: 50px;
  width: 50px;
  position: relative;
}

.toggler__stripe {
  background-color: $color-blue;
  width: 18px;
  height: 2px;
  margin-left: -9px;
  transition: all 0.25s ease;
  position: absolute;
    top: 50%;
    left: 50%;
}

.toggler__stripe--1 {
  margin-top: -7px;

  .menu--toggled & {
    margin-top: -1px;
    transform: rotate(-45deg);
  }
}

.toggler__stripe--2 {
  margin-top: -1px;

  .menu--toggled & {
    opacity: 0;
  }
}

.toggler__stripe--3 {
  margin-top: 5px;

  .menu--toggled & {
    margin-top: -1px;
    transform: rotate(45deg);
  }
}