/* ========================================================================== *\
   Menu
\* ========================================================================== */

.menu--main {
  float: right;
}

.menu__list--main {
  font-family: $font-menu;
  font-size: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__item--main {
  font-size: $fontsize-base;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 30px;
}

.menu__link--main {
  text-decoration: none;
  display: block;
  padding: 41px 0;
}

.menu__link--active {
  border-top: solid 3px $color-blue;
  padding-top: 38px;
}