// ==========================================================================
// Variables
// ==========================================================================

//
// Background Color
// --------------------------------------------------------------------------

$bgcolor-body: #eee;

//
// Color
// --------------------------------------------------------------------------

$color-base: #333;

//
// Font Family
// --------------------------------------------------------------------------

$font-base: Arial, sans-serif;
$font-titles: 'Helvetica', Arial, sans-serif;

//
// Font Size
// --------------------------------------------------------------------------

$fontsize-base: 13px;
$fontsize-h1: 24px;
$fontsize-h2: 22px;
$fontsize-h3: 20px;
$fontsize-h4: 18px;
$fontsize-h5: 16px;
$fontsize-h6: 14px;

//
// Line Height
// --------------------------------------------------------------------------

$lineheight-base: 1.50;

//
// Padding
// --------------------------------------------------------------------------

$padding-base: 15px; // Used for bottom padding on P and H1-h6 elements

//
// Width
// --------------------------------------------------------------------------

$maxwidth-container: 1200px;